<div data-role="view" data-title="Authentication" data-layout="main-nonav" data-model="app.authenticationView" data-show="app.authenticationView.onShow" data-after-show="app.authenticationView.afterShow" class="authentication-view">
    <div class="signin-view">
        <!-- *class logo / logo company or app -->
        <div class="logo">
                <img src="styles/logo.png" alt="Company">
        </div>
        <form id="login-form" class="form">
            <ul data-role="listview">
                <li>
                    <input name="username" type="text" placeholder="Username" data-bind="value: authenticationViewModel.user.username" required autofocus>
                </li>
                <li>
                    <input name="password" type="password" placeholder="Password" data-bind="value: authenticationViewModel.user.password" required>
                </li>
            </ul>
            <a data-role="button" class="primary" data-bind="events: { click: authenticationViewModel.signin }">Login</a>
        </form>

				<span class="separator">-or-</span>
        <div class="social-login">
            <div id="firebaseui-container"></div>
        </div>
    </div>

    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
</div>
